.app {
    
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.month-name-display {
    color: #888;
    font-size: 18px;
    font-family: ProximaNova,Helvetica,Arial;
}

.x-grid-row-summary .x-grid-cell{
    border-style: solid;
    border-top: thick single #000;
}

.x-border-layout-ct {
    background-color: white;
}