.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.flagged {
    text-align: center;
    font-size: 16px;
    color: #EE1C25;
}

sub {
    font-family: NotoSans, Helvetica, Arial;
    color: #333;
    font-size: 9px!important;
    vertical-align: sub;
}

.flagged .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    font-size: 11px;
    font-family: NotoSans, Helvetica, Arial;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.flagged:hover .tooltiptext {
    visibility: visible;
}